@font-face {
  font-family: "enlg-font";
  src: url("./font/alethia-pro-regular.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "enlg-n";
  src: url("./font/alethia-pro-n.otf");
}
@font-face {
  font-family: "enlg-bold";
  src: url("./font/NotoSerifTC-Bold.otf");
}
@font-face {
  font-family: "enlg-black";
  src: url("./font/NotoSerifTC-Black.otf");
}
@font-face {
  font-family: "enlg-italic";
  src: url("./font/alethia-pro-italic.otf");
}
body {
  font-family: "enlg-font", "Open Sans", sans-serif;
  /* font-size: calc(0.75em + 1vmin); */
}

u {
  text-decoration: none;
  border-bottom: 1px solid black;
  /* display: inline-block; */
  padding-bottom: 3px;
  line-height: 1.5;
}

.enlg-text {
  font-family: "enlg-n";
}
.enlg-italic {
  font-family: "enlg-italic";
}

.text-primary {
  color: #ff8d6a !important;
}

.navbar-enlg {
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
}

.navbar-enlg > div > ul > li > a {
  color: #343a40;
  font-size: calc(0.75em + 0.625vmin);
}

.nav-lang > a::after {
  content: "|";
  padding: 0;
}

.navbar-nav > .active > a {
  background-color: #ededed;
}
.nav-item > a:hover {
  background-color: #ededed;
}

.nav-item.show > a {
  background-color: #ededed;
}

.nav-link {
  display: block;
  /* padding: 1.125rem 1rem; */
  padding: 0.5rem 1rem 1.125rem 1rem;
  margin-top: 0.5rem;
}

.page-header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.quote-header {
  display: flex;
  align-items: center;
  min-height: 50vh;
  max-height: 999px;
  padding: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.header-filter {
  position: relative;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text-darker {
  color: #212529;
}

.text-enlg-blue {
  color: #0083af;
}
.text-enlg-green {
  color: #0b767b;
}

.btn-primary {
  color: #212529;
  background-color: #ff8d6a;
  border-color: #ff8d6a;
  border-radius: 0;
}

.btn-minimal {
  color: #212529;
  background-color: white;
  border-color: black;
  border-radius: 0;
}

.title {
  font-weight: 600;
}

.description {
  color: #343a40;
  font-weight: 300;
  margin-top: 3rem;
}

.feature-1 {
  text-align: center;
  padding: 80px 0;
}

.instagram-feed {
  text-align: center;
  padding: 50px 0;
}

.ingredients {
  text-align: center;
  padding: 10% 0 5% 0;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.quote-1 {
  text-align: center;
  padding: 10rem 0;
  background-color: #ff8d6a;
}

.feature-description {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 70%;
}

.carousel-indicators li {
  margin-right: 0;
  margin-left: 0;
  width: 20%;
  height: 0.375rem;
  border: none;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  border-top: 0.125rem solid black;
  /* transform: scaleY(0.75); */
  height: 0.25rem;
  width: 20%;
  /* width: 100%; */
  /* transition: all 2s linear; */
  /* transform: translateX(20%); */
  /* transform: scaleX(1);
  transition: all 5s linear; */
  /* animation: reveal 5s forwards; */
  /* transform: translate3d(0, 200%); */
}

/* .day-numbers__line{
  animation: reveal 5s forwards;
} */

@keyframes reveal {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

.rounded {
  border-radius: 0.25rem !important;
}

.img-raised {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
}

.footer {
  margin-top: 3rem;
  padding: 1.25rem 0;
  text-align: center;
  background-color: #fff;
}

.footer.footer-big {
  padding: 30px 0;
}

.footer .content {
  text-align: left;
}

.footer ul.links-vertical {
  line-height: 1.6;
}

.footer ul:not(.links-vertical) {
  line-height: 3.1;
}

.footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.footer .social-buttons .btn,
.footer .social-buttons a {
  margin: 0;
}

.social-buttons li {
  display: inline;
}

.footer .copyright {
  font-size: 0.8571em;
  line-height: 3.5;
}

.btn.btn-icon.btn-lg,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
}

.form.form-newsletter .form-group {
  float: left;
  width: 60%;
  margin-right: 2%;
}

.footer ul li a,
.footer ul li a:hover {
  text-decoration: none;
  color: #343a40;
}

.form-control {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  color: black;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  border-bottom: 1px solid black !important;
}

.enlg-icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  background: url("../img/icon/search_icon.svg");
}

.enlg-icon .enlg-icon-search {
  background: url("../img/icon/search_icon.svg");
}

.icon-search_icon:before {
  content: "\e900";
}

.philosophy-block {
  min-height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
  /* padding: 10%; */
}

.philosophy-block-orange {
  background-color: #ff8d6b;
}

.philosophy-block-blue {
  background-color: #0078a5;
}

.philosophy-block-green {
  background-color: #286e73;
}

.philosophy-block-grey {
  background-color: #ededed;
}

.philosophy-block-white {
  background-color: #fff;
  justify-content: flex-start;
  /* padding: 5% 10%; */
  align-items: flex-start;
  display: block;
  text-align: left;
}

.philosophy-list {
  padding-left: 0;
  margin-top: 1.5rem;
  list-style: none;
  counter-reset: my-awesome-counter;
}
.philosophy-list li {
  counter-increment: my-awesome-counter;
}
.philosophy-list li::before {
  content: "n 0." counter(my-awesome-counter) "   ";
  font-family: enlg-n;
}

video {
  width: 100%;
  height: 100%;
}

.faq-item {
  text-decoration: none;
  color: #343a40;
}

.faq-item:hover {
  text-decoration: none;
  color: #343a40;
}

.faq-item h4 {
  margin-top: 3rem;
}

::placeholder {
  color: black !important;
}

.page-link {
  color: black;
  border: 0;
}

.page-item.active .page-link {
  color: black;
  background-color: #fff;
  border: 0;
}

.img-banner {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.img-small {
  height: 20vh;
  min-height: 200px;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 30vw;
  min-width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: 0;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
  background: #ededed;
}

.modal-header {
  background-color: #ededed;
  border-bottom: 0;
  padding-top: 1.7rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

.animated-line {
  width: 200px;
  height: 2px;
  background: transparent;
  position: absolute;
  /* top: 20%;  */
  /* left: 50%;  */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
}

.animated-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7e7e7e;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  0% {
    left: 0;
  }
}

/* body{background:#000;padding:0;margin:0} */

.animation-section {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  position: relative;
  padding: 0;
}

.hscroll-line {
  bottom: 30px;
  height: 2px;
  position: absolute;
  overflow: hidden;
  width: 200px;
  transform: rotate(270deg);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 7rem;
}

.hscroll-line::before,
.hscroll-line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.hscroll-line:before {
  background: transparent;
}

.hscroll-line::after {
  background: #7e7e7e;
  animation: move 5s 1;
}

@keyframes move {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.snipcart-modal__container {
  z-index: 99 !important;
}

.property-single {
  width: 20%;
  height: 30rem;
  background: #ededed;
  text-align: center;
  clip-path: polygon(0 0, 90% 10%, 90% 100%, 0 90%);
  -webkit-clip-path: polygon(0 0, 90% 10%, 90% 100%, 0 90%);
  padding-left: 2rem;
  padding-top: 3rem;
  padding-right: 5rem;
}

.property-single.property-active {
  background: #ff8d6b;
}

.properties-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.properties-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.enlg-text.inactive {
  color: #b2b2b2;
}

p.inactive {
  color: #ededed;
}

a.property-link {
  text-decoration: none;
  color: #b2b2b2;
}

a.property-link:hover {
  color: black;
}

.search-form-control:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  border: none !important;
}

/* .circles{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}  */

.circles {
  overflow: none;
}

.circles2 {
  overflow: none;
}

.circles img {
  position: absolute;
  display: block;
  list-style: none;
  width: 500px;
  height: 500px;
  /* background: rgba(255, 255, 255, 0.2); */

  /* bottom: -150px; */
}

.circles2 img {
  position: absolute;
  display: block;
  list-style: none;
  width: 500px;
  height: 500px;
  /* background: rgba(255, 255, 255, 0.2); */

  /* bottom: -150px; */
}

.circles img {
  right: 5%;
  animation-delay: 0s;
  animation-duration: infinite;
  animation: animate-circles 25s linear infinite;
}

.circles2 img {
  left: 5%;
  animation-delay: 0s;
  animation-duration: infinite;
  animation: animate-circles-inverse 25s linear infinite;
}

@keyframes animate-circles {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(50vh) translateX(-100vw) rotate(720deg);
    opacity: 1;
    /* border-radius: 50%; */
  }
}

@keyframes animate-circles-inverse {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-70vh) translateX(100vw) rotate(720deg);
    opacity: 1;
    /* border-radius: 50%; */
  }
}

.circles::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.circles {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.circles2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.circles2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-collapse.show {
  height: 100vh;
}

.dropdown-menu {
  background-color: #ededed;
  height: 100vh;
  width: 35%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 25rem;
  padding: 2.5rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: none;
  margin: 0;
}

.product_img_slideshow > figure > img {
  max-width: 100%;
  /* max-height: 100%; */
  /* center align pt. 2 */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.carousel-container {
  display: flex;
  align-items: center;
  min-height: 35rem;
  max-height: 999px;
  padding: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.carousel-container-landscape {
  display: flex;
  align-items: center;
  min-height: 40rem;
  max-height: 999px;
  padding: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.product_img_slideshow_landscape > figure > img {
  max-width: 100%;
  min-height: 40rem;
  /* center align pt. 2 */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.swiper-slide {
  margin-bottom: 3rem;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #0078a5 !important;
}

.nav-link {
  color: #b2b2b2;
}

.nav-link:hover {
  color: #343a40;
}

.nav-link.active {
  color: #343a40;
}

.full-ingredients-list {
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  max-height: 70vh;
  margin-bottom: 3rem;
}

.scroll-bound {
  height: 500vh;
}
.scroll-bound .content {
  height: 100vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  height: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  .carousel-container {
    min-height: 30vh;
  }
  .carousel-container-landscape {
    min-height: 40vh;
  }
  .product_img_slideshow_landscape > figure > img {
    max-width: 100%;
    min-height: 40vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .navbar-nav {
    background: #ededed;
    width: 80%;
    height: 100vh;
    font-size: xx-large;
  }

  .navbar-nav > li {
    margin-left: 1rem;
  }

  .nav-link-mobile {
    padding-bottom: 0;
    padding-top: 0;
  }

  .dropdown-menu {
    background-color: #ededed;
    height: 100%;
    max-height: 40vh;
    overflow: auto;
    display: none;
    float: left;
    min-width: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: none;
    margin: 0;
    width: 100%;
    padding: 0;
    padding-top: 1rem;
  }
  .dropdown-menu > .container {
    padding-left: 0;
  }
  .dropdown-menu .container .row h4 {
    font-size: larger;
  }
  .dropdown-toggle:after {
    display: none !important;
  }
  video {
    width: auto !important;
    height: 50vh !important;
  }
  .page-header {
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
  }
  .page-header-mini {
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 80vh;
    color: #fff;
    position: relative;
    overflow: hidden;
  }
  .modal.left .modal-dialog,
  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    min-width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .full-ingredients-list {
    height: 50vh;
    margin-bottom: 3rem;
  }
  .philosophy-block {
    display: inline-grid;
  }
}
